.body {
    width: 300px;
    min-height: 500px;
    margin: auto;
    padding: 1px 30px 30px 30px;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: white;
}
img {
    width: 100%;
    margin-bottom: 3%;
}

h1 {
    border: 2px solid rgb(241, 219, 176);
    padding-left: 10px;
}

.rem {
    border: 2px solid rgb(250, 224, 176);
    padding: 10px;
}
.cat {
    font-style: italic;
}

.sp {
    font-weight: bold;
}

body {
    background-color:  rgb(250, 224, 176);
}